<h1>Editar Endereço</h1>

<div class="well">
  <form #formEndereco="ngForm" action="">
    <div class="form-group">
      <label for="lograd">Logradouro: </label>
      <input
          type="text"
          class="form-control"
          id="lograd"
          name="lograd"
          [(ngModel)]="endereco.lograd"
          #lograd="ngModel"
          minlength="2"
          required>
      <div *ngIf="lograd.errors && (lograd.dirty || lograd.touched)" class="alert alert-danger">
        <div [hidden]="!lograd.errors['required']">Digite o nome correto do LOGRADOURO!</div>
        <div [hidden]="!lograd.errors['minlength']">O nome deve conter no mínimo dois (2) caracteres.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="numero">Número: </label>
      <input
          type="number"
          class="form-control"
          id="numro"
          name="numero"
          [(ngModel)]="endereco.numero"
          #numero="ngModel"
          numerico
          minimoValidator
          required>
      <div *ngIf="numero.errors && (numero.dirty || numero.touched)" class="alert alert-danger">
        <div [hidden]="!numero.errors['required']">Digite o número corretamente!</div>
        <div [hidden]="!numero.errors['minimo']">Número deve ser maior que 1 algarismo!</div>
      </div>
    </div>
    <div class="form-group">
      <label for="complmto1">Complemento 1: </label>
      <input
          type="text"
          class="form-control"
          id="complmto1"
          name="complmto1"
          [(ngModel)]="endereco.complmto1"
          #complmto1="ngModel"
          required>
      <div *ngIf="complmto1.errors && (complmto1.dirty || complmto1.touched)" class="alert alert-danger">
        <div [hidden]="!complmto1.errors['required']">Digite o complemento corretamente!</div>
      </div>
    </div>
    <div class="form-group">
      <label for="complmto2">Complemento 2: </label>
      <input
          type="text"
          class="form-control"
          id="complmto2"
          name="complmto2"
          [(ngModel)]="endereco.complmto2"
          #complmto2="ngModel"
          minlength="2"
          required>
      <div *ngIf="complmto2.errors && (complmto2.dirty || complmto2.touched)" class="alert alert-danger">
        <div [hidden]="!complmto2.errors['required']">Digite o complemento correto!</div>
        <div [hidden]="!complmto2.errors['minlength']">O complemento deve conter no mínimo dois (2) caracteres.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="bairro">Bairro: </label>
      <input
          type="text"
          class="form-control"
          id="bairro"
          name="bairro"
          [(ngModel)]="endereco.bairro"
          #bairro="ngModel"
          minlength="2"
          required>
      <div *ngIf="bairro.errors && (bairro.dirty || bairro.touched)" class="alert alert-danger">
        <div [hidden]="!bairro.errors['required']">Digite o nome correto do bairro!</div>
        <div [hidden]="!bairro.errors['minlength']">O nome do bairro deve conter no mínimo dois (2) caracteres.</div>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="atualizarEndereco()" [disabled]="!formEndereco.form.valid">
        <i class="fa fa-save" aria-hidden="true"></i>
        ATUALIZAR
      </button>
      <a [routerLink]="['/enderecos']" class="btn btn-secondary">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        VOLTAR
      </a>
    </div>
  </form>
</div>
