<div class="modal-header">
  <button type="button" class="close" aria-label="Fechar" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="modalLabel">Endereços </h4>
</div>
<div class="modal-body text-center">
  <div>
    <p>Logradouro: {{ endereco.lograd }}</p>
    <p>Número: {{ endereco.numero }}</p>
    <p>Complemento 1: {{ endereco.complmto1 }}</p>
    <p>Complemento 2: {{ endereco.complmto2 }}</p>
    <p>Bairro: {{ endereco.bairro }}</p>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">FECHAR</button>
</div>

